body {
    background-color: #1a1c1d;
    color: white;
    font-family: "Rockwell", serif;
}

#limbs {
    background-color: aquamarine;
    color: azure;
    font-size: 200px;
    padding: 80px;
}

.ag_robot {
    background-color: yellow;
    color: navajowhite;
    font-size: 25px;
    border: 15px dashed black;
    margin: 50px;
}

image {
    width: 500px;
    height: 30px;
}

a[href*="frhsd.com"] {
    color: limegreen;
}

ul > li:first-child {
    color: fuchsia;
}

a:visited {
    color: beige;
}

li:hover {
    background-color: navy;
}

div {
    li {
        font-style: italic;
        font-weight: bold;
        overflow: scroll;
    }
}

li + li {
    text-indent: -9999px;
}

ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#\31 1ashleycourt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;

    img {
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }

    p {
        grid-column: span 2;
        grid-row: span 2;
    }

    a {
        grid-column: span 1;
        grid-row: span 1;
    }
}