body {
    background-color: #1a1c1d;
    color: #efefef;
    font-family: "Rockwell", serif;
}

#limbs {
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 35px;
}

h1 {
    font-size: 70px;
    text-align: center;
}

p {
    font-size: 30px;
    text-align: center;
}

.ag_robot {
    color: navajowhite;
    font-size: 25px;
    padding: 15px;
    font-style: italic;
}

h3 {
    font-size: 35px;
    text-align: center;
}

image {
    width: 500px;
    height: 30px;
}

a[href*="frhsd.com"] {
    color: limegreen;
}

ul {
    list-style-type: none;
}

ul > li:first-child {
    font-style: italic;
}

ul > li {
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
}

a:visited {
    color: beige;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

div {
    li {
        font-style: italic;
        font-weight: bold;
    }
}

li + li {
    /*text-indent: -9999px;*/
}

ol {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#\31 1ashleycourt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;

    img {
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }

    p {
        grid-column: span 2;
        grid-row: span 2;

        text-align: center;
        align-content: center;
        font-family: "Playfair Display", serif;
        font-size: 80px;
        font-style: italic;
    }

    a {
        grid-column: span 1;
        grid-row: span 1;


        text-align: center;
        align-content: center;
        font-size: 60px;
    }
}

td, th {
    border: 5px solid white;
}

td > img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

td > a {
    font-size: 25px;
    text-align: center;
    width: 100%;
    display: block;
}

a {
    color: #acaced;
}

a:hover {
    color: orangered;
}

table {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;

}

td {
    width: 50%;
}

input {
    width: 35%;
    height: 35px;
    background-color: #1a1c1d;
    border: white 5px solid;
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    color: white;
    font-size: 30px;
}

button {
    height: 100px;
    padding: 30px;
    aspect-ratio: 1 / 1;
    background-color: #ea5c5c;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

button:hover {
    background-color: orange;
}